@use "utils/variables";
@use "base/fonts";

@use "components/buttons";

@use "layout/header";
@use "layout/hero";
@use "layout/image-section";
@use "layout/nutritionist-section";
@use "layout/course-section";
@use "layout/results-section";
@use "layout/review-section";
@use "layout/footer";
