@use "../utils/variables" as variables;

.course-section {
  position: relative;
  background-color: variables.$primary-color;
  margin-top: -50px;
  padding: 150px 15px 100px 15px;

  @media (min-width: 1120px) {
    padding: 150px 70px 150px 70px;
  }

  &__title {
    position: relative;
    font-family: variables.$font-secondary;
    font-weight: 400;
    font-size: 36px;
    color: variables.$primary-color-light;
    max-width: 310px;
    text-align: center;
    margin: 0 auto;

    @media (min-width: 1120px) {
      max-width: 870px;
      font-size: 52px;
    }
  }

  &__title-svg-left {
    position: absolute;
    top: -35px;
    left: -35px;
    width: 80px;
    height: 60px;
    fill: none;
    color: variables.$secondary-color;
    display: inline-block;

    @media (min-width: 1120px) {
      width: 120px;
      height: 120px;
      left: -10px;
      top: -80px;
    }
  }

  &__title-svg-right {
    position: absolute;
    right: -15px;
    top: -45px;
    width: 75px;
    height: 75px;
    fill: none;
    color: variables.$secondary-color;
    stroke: variables.$secondary-color;
    display: inline-block;

    @media (min-width: 1120px) {
      width: 120px;
      height: 120px;
      right: 40px;
      top: -70px;
    }
  }

  &__title-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style: none;
    justify-content: center;
    align-items: center;

    @media (min-width: 1120px) {
      flex-direction: row;
    }
  }

  &__title-text {
    text-align: center;
    margin-top: 20px;
    font-family: variables.$font-primary;
    font-weight: 500;
    font-size: 20px;
    color: variables.$primary-color-light;
    opacity: 0.6;
    max-width: 280px;

    @media (min-width: 1120px) {
      max-width: 240px;
    }
  }

  &__title-number {
    font-family: variables.$font-tertiary;
    color: variables.$secondary-color;
    text-align: center;
    font-weight: 700;
    font-size: 18px;

    &:first-child {
      margin-top: 40px;
    }
  }

  &__button-bottom {
    display: block;
    border-radius: 100px;
    padding: 16px 32px;
    background-color: variables.$secondary-color;
    color: variables.$primary-color;
    font-weight: 600;
    font-family: variables.$font-secondary;
    font-size: 14px;
    margin: 0 auto;
    max-width: 300px;
    white-space: nowrap;
    cursor: pointer;
    border: none;

    &:hover {
      margin-top: 24px;
      padding: 16px 32px;
      border-radius: 100px;
      max-width: 300px;
      font-weight: 600;
      background-color: variables.$primary-color;
      border: 1px solid variables.$secondary-color;
      color: variables.$secondary-color;
      white-space: nowrap;
      cursor: pointer;
    }
  }

  &__bottom-title {
    position: relative;
    margin: 0 auto;
    text-align: center;
    color: variables.$primary-color-light;
    margin-top: 100px;
    font-family: variables.$font-secondary;
    font-weight: 400;
    font-size: 36px;
    max-width: 345px;

    @media (min-width: 1120px) {
      font-size: 52px;
      max-width: 870px;
    }
  }

  &__title-svg-title {
    position: absolute;
    bottom: -10px;
    left: 0px;
    transform: rotate(-175deg);
    width: 75px;
    height: 75px;
    fill: none;
    color: variables.$secondary-color;
    stroke: variables.$secondary-color;
    display: inline-block;

    @media (min-width: 1120px) {
      transform: scaleX(-1);
      top: -70px;
      left: -20px;
      width: 90px;
      height: 90px;
    }
  }

  &__course-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    color: variables.$primary-color;
    font-family: variables.$font-primary;
    font-size: 18px;
    font-weight: 500;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 24px;

    @media (min-width: 1120px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 40px;
    }

    &-li {
      background-color: variables.$primary-color-light;
      border-radius: 16px;
      min-height: 130px;
      padding: 32px;

      &:last-child {
        display: none;

        @media (min-width: 1120px) {
          display: block;
        }
      }

      &:nth-last-child(2) {
        display: none;

        @media (min-width: 1120px) {
          display: block;
        }
      }
    }

    &-CheckCircle {
      width: 24px;
      height: 24px;
      display: inline-block;
    }

    &-text {
      max-width: 280px;
      margin-top: 24px;
    }
  }
}

.course-card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 32px;
  background-color: variables.$secondary-color;
  padding: 34px 24px 0 24px;
  margin-top: 100px;
  height: 1000px;
  overflow: hidden;

  @media (min-width: 1120px) {
    max-width: 1280px;
    max-height: 540px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 60px;
  }

  &__title {
    font-family: variables.$font-secondary;
    font-weight: 400;
    font-size: 36px;
    color: variables.$primary-color;
    max-width: 290px;
    z-index: 3;

    @media (min-width: 1120px) {
      max-width: 690px;
      font-size: 48px;
    }
  }

  &__button {
    border-radius: 100px;
    padding: 16px 32px;
    background-color: variables.$primary-color;
    color: variables.$primary-color-light;
    font-weight: 600;
    font-family: variables.$font-secondary;
    font-size: 14px;
    margin-top: 24px;
    max-width: 300px;
    white-space: nowrap;
    cursor: pointer;
    border: none;

    @media (min-width: 1120px) {
      margin-top: 40px;
    }

    &:hover {
      margin-top: 24px;
      padding: 16px 32px;
      border-radius: 100px;
      max-width: 300px;
      font-weight: 600;
      color: variables.$secondary-color;
      border: none;
      white-space: nowrap;
      cursor: pointer;
    }
  }

  &__text {
    font-family: variables.$font-primary;
    font-weight: 500;
    font-size: 16px;
    color: variables.$primary-color;
    max-width: 300px;
    margin-top: 16px;

    @media (min-width: 1120px) {
      margin-top: 32px;
    }
  }

  &__man-text {
    position: absolute;
    font-family: variables.$font-tertiary;
    color: variables.$primary-color;
    font-size: 16px;
    font-weight: 700;
    max-width: 100px;
    text-align: center;
    bottom: -130px;
    left: 100px;
    transform: rotate(-20deg);

    @media (min-width: 1120px) {
      top: -410px;
      right: auto;
      left: 820px;
      transform: scaleZ(-1);
      transform: rotate(10deg);
    }
  }

  &__img {
    position: absolute;
    width: 450px;
    height: 500px;
    right: -230px;
    bottom: -575px;

    @media (min-width: 1120px) {
      top: -370px;
      right: -1000px;
    }
  }

  &__left-capusta {
    position: absolute;
    width: 200px;
    height: 200px;
    fill: variables.$primary-color;
    right: 50px;
    bottom: -270px;

    @media (min-width: 1120px) {
      top: -170px;
      right: -640px;
    }
  }

  &__right-capusta {
    position: absolute;
    fill: variables.$primary-color;
    width: 200px;
    height: 140px;
    bottom: -250px;
    left: 30px;

    @media (min-width: 1120px) {
      top: -360px;
      right: auto;
      left: 800px;
    }
  }

  &__container {
    position: relative;
  }

  &__redline {
    position: absolute;
    z-index: 2;
    width: 300px;
    height: 50px;
    color: #fd7b44;
    fill: none;
    top: 164px;

    @media (min-width: 1120px) {
      top: 168px;
      left: 20px;
      width: 430px;
      height: 75px;
    }
  }
}
