@use "../utils/variables" as variables;

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 8px 15px;
  gap: 130px;
  background-color: variables.$primary-color-light;
  width: 100%;
  min-height: 48px;
  border-bottom: 1px solid black;
  z-index: 2;

  &__nav {
    display: none;
  }

  &__burger {
    background-color: transparent;
    border: none;

    @media (min-width: 845px) {
      display: none;
    }
  }

  &__burger-icon {
    width: 32px;
    height: 32px;
    stroke: variables.$primary-color;
    cursor: pointer;
    flex-shrink: 0;
  }

  &__mobile-button {
    font-family: variables.$font-secondary;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 0 0;
    width: 185px;
    height: 27px;
    color: variables.$primary-color;
    border: none;
    border-bottom: 2px solid variables.$primary-color;
    background-color: transparent;
    white-space: nowrap;
    cursor: pointer;
  }

  @media (min-width: 845px) {
    padding: 15px 80px;
    gap: 40px;

    &__nav {
      display: flex;
      align-items: center;
    }

    &__menu {
      display: flex;
      gap: 40px;
      list-style: none;
    }

    &__menu-item {
      list-style: none;

      a {
        color: inherit;
        font-family: variables.$font-primary;
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        white-space: nowrap;
        cursor: pointer;
      }
    }
  }
}
