@use "../utils/variables" as variables;

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 8px 15px;
  gap: 130px;
  background-color: variables.$primary-color-light;
  width: 100%;
  height: 100%;
  min-height: 48px;
  border-bottom: 1px solid black;
  z-index: 2;

  &__burger-menu {
    width: 32px;
    height: 32px;
    stroke: variables.$primary-color;
    cursor: pointer;
    flex-shrink: 0;
  }

  &__mobile-button {
    margin: 0;
    padding: 0 0;
    width: 185px;
    height: 27px;
    color: variables.$primary-color;
    border: none;
    border-bottom: 2px solid variables.$primary-color;
    background-color: transparent;
    white-space: nowrap;
    cursor: pointer;

    p {
      font-weight: 700;
      font-size: 19px;
      line-height: 100%;
      width: 184px;
      height: 14px;
    }
  }
}
