@use "../utils/variables" as variables;

.hero {
  position: relative;
  padding-top: 84px;
  padding-bottom: 84px;
  padding-left: 15px;
  background-color: variables.$primary-color;
  width: 100%;
  height: 465px;

  &__brokoli {
    content: "";
    position: absolute;
    width: 55px;
    height: 70px;
    right: 0;
    top: 10px;
    fill: variables.$secondary-color;
  }

  &__avocado {
    content: "";
    position: absolute;
    width: 55px;
    height: 70px;
    left: 20px;
    top: -15px;
    fill: variables.$secondary-color;
    z-index: 1;
  }

  &__brokoli-down {
    content: "";
    position: absolute;
    width: 55px;
    height: 70px;
    left: 33px;
    bottom: -15px;
    fill: variables.$secondary-color;
    z-index: 1;
    transform: scaleX(-1) rotate(20deg);
  }

  &__wok {
    content: "";
    position: absolute;
    width: 95px;
    height: 90px;
    bottom: -25px;
    right: 15px;
    fill: variables.$secondary-color;
    z-index: 1;
  }

  p {
    max-width: 345px;
  }

  &__button {
    margin-top: 40px;
    margin-bottom: 16px;
    padding: 16px 32px;
    border-radius: 100px;
    width: 265px;
    height: 46px;
    background-color: variables.$secondary-color;
    color: variables.$primary-color;
    border: none;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      margin-top: 40px;
      margin-bottom: 16px;
      padding: 13px 32px 19px 32px;
      border-radius: 100px;
      width: 265px;
      height: 46px;
      background-color: transparent;
      color: variables.$secondary-color;
      border: 3px solid variables.$secondary-color;
      white-space: nowrap;
      cursor: pointer;
    }

    p {
      height: 14px;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
    }
  }

  &__span {
    color: variables.$secondary-color;
    font-weight: 500;
    font-size: 24px;
    font-family: variables.$font-primary;
  }

  &__span:last-of-type {
    color: variables.$secondary-color;
    font-weight: 500;
    font-size: 16px;
    font-family: variables.$font-primary;
  }

  &__text {
    color: variables.$primary-color-light;
    font-size: 16px;
    line-height: 100%;
  }

  &__text:last-of-type {
    opacity: 0.6;
  }

  &__title {
    margin-top: 14px;
    margin-bottom: 20px;
    color: variables.$primary-color-light;
    font-weight: 400;
    font-size: 36px;
    font-family: "bounded";
    line-height: 100%;
  }
}
