@use "../utils/variables" as variables;

@media (min-width: 845px) {
  .desktop-section {
    display: flex;

    .hero,
    .image-section {
      flex-basis: 50%;
    }
  }
}

.hero {
  position: relative;
  padding-top: 84px;
  padding-bottom: 84px;
  padding-left: 15px;
  background-color: variables.$primary-color;
  width: 100%;
  height: auto;

  @media (min-width: 1120px) {
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-top: 0;
    justify-content: center;
  }

  &__brokoli {
    content: "";
    position: absolute;
    width: 65px;
    height: 80px;
    right: 0;
    top: 10px;
    fill: variables.$secondary-color;

    @media (min-width: 845px) {
      right: 20px;
    }

    @media (min-width: 1350px) {
      display: none;
    }
  }

  &__avocado {
    content: "";
    position: absolute;
    width: 70px;
    height: 80px;
    left: 20px;
    top: -15px;
    fill: variables.$secondary-color;
    z-index: 1;

    @media (min-width: 1350px) {
      top: 40px;
      left: 50px;
      width: 80px;
      height: 95px;
    }
  }

  &__brokoli-down {
    content: "";
    position: absolute;
    width: 70px;
    height: 80px;
    left: 50px;
    bottom: -8px;
    fill: variables.$secondary-color;
    z-index: 1;
    transform: scaleX(-1) rotate(20deg);

    @media (min-width: 1350px) {
      left: auto;
      right: 70px;
      bottom: 120px;
      width: 100px;
      height: 100px;
      transform: scaleZ(-1) rotate(25deg);
    }
  }

  &__wok {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: -20px;
    right: 30px;
    fill: variables.$secondary-color;
    z-index: 1;

    @media (min-width: 845px) {
      bottom: 90px;
    }

    @media (min-width: 1350px) {
      transform: rotate(25deg);
      top: 70px;
      right: 90px;
    }
  }

  p {
    max-width: 345px;
  }

  &__button {
    margin-top: 40px;
    margin-bottom: 16px;
    padding: 16px 32px;
    border-radius: 100px;
    width: 265px;
    height: 46px;
    background-color: variables.$secondary-color;
    color: variables.$primary-color;
    border: none;
    white-space: nowrap;
    cursor: pointer;

    @media (min-width: 1120px) {
      margin-top: 60px;
      order: 2;
    }

    &:hover {
      margin-top: 40px;
      margin-bottom: 16px;
      padding: 13px 32px 19px 32px;
      border-radius: 100px;
      width: 265px;
      height: 46px;
      background-color: transparent;
      color: variables.$secondary-color;
      border: 3px solid variables.$secondary-color;
      white-space: nowrap;
      cursor: pointer;
    }

    p {
      font-family: variables.$font-secondary;
      height: 14px;
      font-weight: 600;
      font-size: 14px;
      line-height: 100%;
    }
  }

  &__span {
    color: variables.$secondary-color;
    font-weight: 500;
    font-size: 24px;
    font-family: variables.$font-primary;
  }

  &__span:last-of-type {
    color: variables.$secondary-color;
    font-weight: 500;
    font-size: 16px;
    font-family: variables.$font-primary;

    @media (min-width: 845px) {
      order: 1;
    }
  }

  &__text {
    color: variables.$primary-color-light;
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
    font-family: variables.$font-primary;

    &:first-of-type {
      @media (min-width: 1024px) {
        margin-top: 12px;
      }
    }
  }

  &__text:last-of-type {
    opacity: 0.6;
    font-family: variables.$font-primary;

    @media (min-width: 1024px) {
      order: 1;
    }
  }

  &__title {
    margin-top: 14px;
    margin-bottom: 20px;
    color: variables.$primary-color-light;
    font-weight: 400;
    font-size: 36px;
    font-family: variables.$font-secondary;
    line-height: 100%;
    letter-spacing: 0%;
    max-width: 345px;

    @media (min-width: 1024px) {
      font-size: 52px;
      max-width: 530px;
    }
  }
}

.wok-text {
  font-family: variables.$font-tertiary;
  color: variables.$secondary-color;
  display: none;

  @media (min-width: 1350px) {
    display: block;
    position: absolute;
    top: 45px;
    right: 40px;
    transform: rotate(15deg);
  }
}

.milk {
  display: none;

  @media (min-width: 1200px) {
    display: block;
    position: absolute;
  }
  &__svg {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    fill: variables.$secondary-color;
    top: 230px;
    left: 60px;
  }

  &__text {
    font-family: variables.$font-tertiary;
    color: variables.$secondary-color;
    position: absolute;
    top: 200px;
    left: 0;
    font-weight: 700;
    transform: rotate(-25deg);
  }
}
