@use "../utils/variables" as variables;

.nutritionist-section {
  position: relative;
  background-color: variables.$primary-color-light;
  border-radius: 32px;
  height: 1225px;
  margin-top: -75px;
  padding: 34px 15px;
  z-index: 2;

  &__title {
    max-width: 310px;
    font-size: 60px;
    font-weight: 400;
    line-height: 100%;
    font-style: normal;
    text-align: center;
    margin: 0 auto;
    color: variables.$primary-color;
  }
}

.nutr-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__nutr-card {
    background-color: variables.$secondary-color-green;
    border-radius: 16px;
    padding: 32px;
    min-height: 100px;
    min-width: 345px;
    display: flex;
  }

  &__text {
    color: variables.$primary-color-light;
    font-family: variables.$font-primary;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    max-width: 135px;
    text-align: justify;
  }
}
