@use "../utils/variables" as variables;

.nutritionist-section {
  position: relative;
  background-color: variables.$primary-color-light;
  border-radius: 32px;
  height: 1400px;
  margin-top: -75px;
  padding: 35px 15px;
  z-index: 2;

  @media (min-width: 1025px) {
    height: 1050px;
    padding: 60px 80px;
  }

  &__title {
    max-width: 290px;
    font-size: 36px;
    font-weight: 400;
    line-height: 100%;
    font-style: normal;
    text-align: center;
    margin: 0 auto;
    color: variables.$primary-color;
    margin-bottom: 40px;
    font-family: variables.$font-secondary;

    @media (min-width: 1024px) {
      font-size: 52px;
      max-width: 708px;
    }
  }

  &__bottom-text {
    color: variables.$primary-color;
    font-family: variables.$font-primary;
    font-weight: 500;
    font-size: 20px;
    padding-top: 40px;
    margin: 0 auto;
    text-align: center;
    max-width: 360px;

    @media (min-width: 1024px) {
      text-align: center;
      justify-content: center;
      margin: 0 auto;
      font-size: 32px;
      max-width: 780px;
      padding-top: 60px;
    }
  }

  &__bottom-text-span {
    color: variables.$secondary-color-green;
    font-family: variables.$font-primary;
    font-weight: 500;
    font-size: 20px;
    padding-top: 30px;
    margin-bottom: 20px;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;

    @media (min-width: 1024px) {
      text-align: center;
      font-size: 32px;
      max-width: 500px;
      margin: 0 auto;
      padding-top: 30px;
    }
  }

  &__line {
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 310px;
    @media (min-width: 1024px) {
      width: 410px;
      height: 70px;
      margin: 0 auto;
      padding-top: 10px;
    }
  }
}

.nutr-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__nutr-card {
    background-color: variables.$secondary-color-green;
    border-radius: 16px;
    padding: 32px;
    min-height: 100px;
    min-width: 345px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    color: variables.$primary-color-light;
    font-family: variables.$font-primary;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    max-width: 135px;
    text-align: flex-start;
  }

  &__icon1 {
    width: 110px;
    height: 60px;
  }

  &__icon2 {
    width: 90px;
    height: 70px;
  }

  &__icon3 {
    width: 90px;
    height: 90px;
  }

  &__icon4 {
    align-items: center;
    width: 150px;
    height: 100px;
  }

  &__icon5 {
    width: 120px;
    height: 80px;
  }

  &__icon6 {
    width: 160px;
    height: 90px;
  }
}
