@use "../utils/variables" as variables;

.nutritionist-section {
  position: relative;
  background-color: variables.$primary-color-light;
  border-radius: 32px;
  margin-top: -75px;
  padding: 35px 15px;
  z-index: 2;

  @media (min-width: 1025px) {
    padding: 60px 80px;
  }

  &__title {
    max-width: 290px;
    font-size: 36px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    margin: 0 auto 40px;
    color: variables.$primary-color;
    font-family: variables.$font-secondary;

    @media (min-width: 1024px) {
      font-size: 52px;
      max-width: 708px;
    }
  }

  &__footer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1024px) {
      margin-top: 60px;
    }
  }

  &__bottom-text {
    color: variables.$primary-color;
    font-family: variables.$font-primary;
    font-weight: 500;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    max-width: 360px;

    &--accent {
      color: variables.$secondary-color-green;
      margin-top: 30px;
      margin-bottom: 20px;
      max-width: 300px;
    }

    @media (min-width: 1024px) {
      font-size: 32px;
      max-width: 780px;

      &--accent {
        max-width: 500px;
      }
    }
  }

  &__line {
    display: block;
    margin: 0 auto;
    width: 310px;
    height: 50px;

    @media (min-width: 1024px) {
      width: 410px;
      height: 70px;
      margin-top: 10px;
    }
  }
}

.nutr-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  list-style: none;

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  &__card {
    background-color: variables.$secondary-color-green;
    border-radius: 16px;
    padding: 24px 32px;
    min-height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

  &__text {
    color: variables.$primary-color-light;
    font-family: variables.$font-primary;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    max-width: 160px;
    text-align: left; 
  }


  &__icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;


    &--complex-calories {
      height: 120px;
      width: 100px;
    }

    &--complex-yogurt {
      height: 90px;
      width: 160px;
    }
  }


  &__icon {
    &--soup {
      width: 110px;
      height: 60px;
      margin-right: 20px;
    }

    &--limits {
      width: 90px;
      height: 70px;
      margin-right: 20px;
    }

    &--milk {
      width: 90px;
      height: 90px;
      margin-right: 20px;
    }

    &--keto {
      width: 120px;
      height: 80px;
      margin-right: 20px;
    }

    &--apple {
      position: absolute;
      width: 170px;
      height: 120px;
      bottom: -15px;
      right: -20px;
    }

    &--spin {
      position: absolute;
      width: 140px;
      height: 40px;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--yogurt {
      width: 160px;
      height: 90px;
      margin-right: 20px;
    }

    &--arrow {
      color: variables.$secondary-color;
      transform: scaleY(-1) rotate(50deg);
      position: absolute;
      height: 50px;
      width: 50px;
      left: 0;
      top: 20px;
    }
  }
}
