@use "../utils/variables" as variables;

.review-section {
  background-color: variables.$primary-color;
  position: relative;
  margin-top: -30px;
  padding: 130px 15px 100px 15px;
  z-index: 2;

  &__title {
    color: variables.$primary-color-light;
    font-family: variables.$font-secondary;
    position: relative;
    margin: 0 auto;
    font-size: 36px;
    font-weight: 400;
    max-width: 345px;
    text-align: start;
  }

  &__title-text {
    position: absolute;
    font-family: variables.$font-tertiary;
    font-weight: 700;
    font-size: 18px;
    max-width: 150px;
    text-align: center;
    color: variables.$secondary-color;
    right: -10px;
    transform: rotate(-15deg);
  }

  &__title-svg {
    position: absolute;
    width: 120px;
    height: 70px;
    color: variables.$secondary-color;
    transform: rotate(200deg);
    right: -35px;
    bottom: -60px;
  }

  &__list {
    margin-top: 85px;
    position: relative;
  }

  &__img-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
  }

  &__arrow1 {
    width: 50px;
    height: 50px;
    color: variables.$primary-color-light;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid variables.$primary-color-light;

    &:hover {
      color: variables.$primary-color;
      background-color: variables.$secondary-color;
      border-radius: 50%;
      transition: background-color 0.3s ease;
    }
  }

  &__arrow2 {
    width: 50px;
    height: 50px;
    color: variables.$primary-color-light;
    cursor: pointer;
    transform: rotate(180deg);
    padding: 10px;
    border-radius: 50%;
    border: 1px solid variables.$primary-color-light;

    &:hover {
      color: variables.$primary-color;
      background-color: variables.$secondary-color;
      border-radius: 50%;
      transition: background-color 0.3s ease;
    }
  }

  &__card {
    background-color: variables.$primary-color-light;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    padding: 24px;

    &--container {
      display: flex;
      gap: 25px;
    }

    &--svg {
      display: none;
      position: absolute;
    }

    &--text {
      min-width: 300px;
      max-width: 680px;
      font-family: variables.$font-primary;
      font-weight: 400;
      font-size: 16px;
      color: variables.$primary-color;
      margin-top: 40px;
    }

    &--title {
      font-family: variables.$font-primary;
      color: variables.$primary-color;
      font-weight: 500;
      font-size: 24px;
      max-width: 120px;
    }

    &--photo {
      border-radius: 16px;
      width: 120px;
      height: 180px;
    }
  }

  &__list-item1 {
    list-style: none;
  }

  &__list-item2 {
    display: none;
  }

  &__title-bottom {
    font-family: variables.$font-secondary;
    color: variables.$primary-color-light;
    margin: 0 auto;
    max-width: 350px;
    font-weight: 400;
    font-size: 36px;
    margin-top: 105px;
    text-align: center;
  }
}
