@use "../utils/variables" as variables;

.review-section {
  background-color: variables.$primary-color;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -30px;
  padding: 130px 15px 100px 15px;
  z-index: 2;

  @media (min-width: 1120px) {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: auto;
    column-gap: 20px;
    row-gap: 40px;
    align-items: center;
    padding: 150px 20px;
    overflow: hidden;
  }

  @media (min-width: 1250px) {
    padding: 150px 80px;
  }

  &__second-card {
    background-color: variables.$primary-color-light;
    padding: 40px 0 40px 40px;
    border-radius: 25px;
    display: none;

    @media (min-width: 1120px) {
      display: block;
      grid-column: 6;
      grid-row: 2;
      margin-right: -80px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &--photo {
      border-radius: 20px;
      width: 230px;
      height: 350px;

      @media (min-width: 1120px) {
        margin-right: -80px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  &__title {
    color: variables.$primary-color-light;
    font-family: variables.$font-secondary;
    position: relative;
    margin: 0 auto;
    font-size: 36px;
    font-weight: 400;
    max-width: 360px;
    text-align: start;
    order: 1;

    @media (min-width: 1120px) {
      grid-column: 1 / 6;
      grid-row: 1;
      margin: 0;
      font-size: 52px;
      max-width: 730px;
    }
  }

  &__title-text {
    position: absolute;
    font-family: variables.$font-tertiary;
    font-weight: 700;
    font-size: 18px;
    max-width: 150px;
    text-align: center;
    color: variables.$secondary-color;
    right: 40px;
    transform: rotate(-15deg);

    @media (min-width: 1120px) {
      right: -150px;
      top: 70px;
      transform: rotate(12deg);
    }
  }

  &__title-svg {
    position: absolute;
    width: 120px;
    height: 70px;
    color: variables.$secondary-color;
    transform: rotate(190deg);
    right: 15px;
    bottom: -52px;

    @media (min-width: 1120px) {
      left: 520px;
      transform: rotate(160deg);
      top: 65px;
    }
  }

  &__list {
    margin-top: 85px;
    position: relative;
    max-width: 1000px;
    order: 2;

    @media (min-width: 1120px) {
      grid-column: 1 / 6;
      grid-row: 2;
      margin-top: 0;
      max-width: none;
      margin: 0;
    }
  }

  &__img-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
    order: 3;

    @media (min-width: 1120px) {
      grid-column: 6;
      grid-row: 1;
      justify-content: flex-end;
      margin: 0;
    }
  }

  &__arrow {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 10px;

    color: variables.$secondary-color;
    border: 2px solid variables.$secondary-color;
    border-radius: 50%;
    cursor: pointer;

    transition: all 0.3s ease;

    &:hover {
      color: variables.$primary-color;
      background-color: variables.$secondary-color;
    }

    &--prev {
      color: variables.$primary-color-light;
      transform: rotate(180deg);
      border: none;
    }
  }

  &__card {
    background-color: variables.$primary-color-light;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 25px;
    row-gap: 40px;
    align-items: center;
    border-radius: 24px;
    padding: 24px;
    align-items: start;

    @media (min-width: 1120px) {
      grid-template-columns: 240px 1fr;
      grid-column: span 5;
      grid-template-rows: auto 1fr;
      column-gap: 40px;
      row-gap: 115px;
    }

    &--svg {
      display: none;
      position: absolute;
    }

    &--text {
      min-width: 300px;
      max-width: 680px;
      font-family: variables.$font-primary;
      font-weight: 400;
      font-size: 16px;
      color: variables.$primary-color;
      margin-top: 40px;
      grid-column: 1 / -1;
      grid-row: 2;
      margin: 0;

      @media (min-width: 1120px) {
        max-width: 550px;
        grid-column: 2;
        grid-row: 2;
      }
    }

    &--title {
      font-family: variables.$font-primary;
      color: variables.$primary-color;
      font-weight: 500;
      font-size: 24px;
      max-width: 120px;
      grid-column: 2;
      grid-row: 1;
      margin: 0;

      @media (min-width: 1120px) {
        text-align: left;
      }
    }

    &--photo {
      grid-column: 1;
      grid-row: 1;
      border-radius: 16px;
      width: 120px;
      height: 180px;
      object-fit: cover;

      @media (min-width: 1120px) {
        width: 240px;
        height: 350px;
        grid-column: 1;
        grid-row: 1 / span 2;
      }
    }
  }

  &__list-item1 {
    list-style: none;
  }

  &__list-item2 {
    display: none;
  }

  &__title-bottom {
    font-family: variables.$font-secondary;
    color: variables.$primary-color-light;
    position: relative;
    margin: 0 auto;
    max-width: 350px;
    font-weight: 400;
    font-size: 36px;
    margin-top: 105px;
    text-align: center;
    order: 4;

    @media (min-width: 1120px) {
      grid-column: 2 / 6;
      grid-row: 3;
      text-align: left;
      margin-top: 150px;
      max-width: none;
    }

    &--svg {
      color: variables.$secondary-color;
      transform: scaleX(-1);
      position: absolute;
      width: 60px;
      height: 50px;
      left: -10px;
      top: -35px;

      @media (min-width: 1120px) {
        width: 80px;
        height: 60px;
        left: -55px;
        top: -45px;
      }
    }
  }

  &__between-text {
    font-family: variables.$font-tertiary;
    color: variables.$secondary-color;
    display: block;
    margin: 0 auto;
    position: relative;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    max-width: 180px;
    order: 6;

    @media (min-width: 1120px) {
      grid-column: 6;
      grid-row: 4;
      margin: 0;
      align-self: flex-start;
      text-align: center;
      transform: rotate(25deg);
    }

    &-svg {
      position: absolute;
      width: 60px;
      height: 50px;
      right: -50px;
      bottom: -20px;
      @media (min-width: 1120px) {
        width: 90px;
        height: 60px;
        left: 20px;
        bottom: -70px;
        transform: rotate(60deg);
      }
    }
  }
}

.rate-card-first {
  background-color: variables.$primary-color-light;
  border-radius: 25px;
  padding: 35px 25px;
  margin-top: 40px;
  margin-bottom: 25px;
  order: 5;
  min-height: 750px;
  max-height: 750px;
  min-width: 365px;

  @media (min-width: 1120px) {
    grid-column: 2 / 4;
    grid-row: 4;
    margin: 0;
    min-width: 365px;
    width: 100%;
  }

  &__price-description {
    font-family: variables.$font-primary;
    color: variables.$primary-color;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 40px;
    margin-top: 60px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    @media (min-width: 1120px) {
      max-width: 350px;
      width: 100%;
    }
  }

  &__title {
    font-family: variables.$font-primary;
    color: variables.$primary-color;
    max-width: 220px;
    font-weight: 500;
    font-size: 24px;
  }

  &__list {
    flex-direction: column;
    color: variables.$primary-color;
    list-style: none;
    display: flex;
    margin-top: 40px;
    gap: 27px;
    @media (min-width: 1120px) {
      max-width: 280px;
    }
  }

  &__icon {
    color: variables.$primary-color;
    flex-shrink: 0;
    display: block;
    width: 20px;
    height: 20px;
  }

  &__svg-container {
    display: flex;
    gap: 8px;
  }

  &__item {
    opacity: 1;

    &:nth-child(n + 5) {
      opacity: 0.6;
    }
  }
}

.rate-card-second {
  background-color: variables.$secondary-color;
  margin-top: 25px;
  margin-bottom: 30px;
  border-radius: 25px;
  padding: 35px 25px;
  order: 7;
  max-height: 750px;
  min-width: 365px;

  @media (min-width: 1120px) {
    grid-column: 4 / 6;
    grid-row: 4;
    margin: 0;
    min-width: 365px;
    width: 100%;
  }

  &__title {
    font-family: variables.$font-primary;
    color: variables.$primary-color;
    font-weight: 500;
    font-size: 24px;
    max-width: 250px;
  }

  &__list {
    list-style: none;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    @media (min-width: 1120px) {
      max-width: 280px;
    }
  }

  &__svg-container {
    display: flex;
    gap: 8px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }

  &__description {
    font-family: variables.$font-primary;
    color: variables.$primary-color;
  }

  &__price {
    font-family: variables.$font-primary;
    color: variables.$primary-color;
    font-weight: 500;
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    max-width: 340px;
    width: 100%;

    &:hover {
      max-width: 340px;
      width: 100%;
    }

    @media (min-width: 1120px) {
      max-width: 350px;
      width: 100%;
    }
  }
}
